doctype html
html
  head
    title=webTitle
    meta(charset='utf-8')/
    meta(name='viewport', content='width=device-width, initial-scale=1.0')/
    meta(name='description', content=webTitle)/
    meta(name='HandheldFriendly', content='True')/
    meta(name='MobileOptimized', content='320')/
    meta(name='robots', content='noodp')/
    meta(property='og:locale', content='en_US')/
    meta(property='og:type', content='website')/
    meta(property='og:title', content=webTitle)/
    meta(property='og:description', content=webDescription)/
    meta(property='og:url', content=webURL)/
    meta(property='og:site_name', content=webTitle)/
    meta(property='og:image', content=webLogoURL)/
    meta(name='twitter:card', content='summary_large_image')/
    meta(name='twitter:description', content=webDescription)/
    meta(name='twitter:title', content=webTitle)/
    meta(name='twitter:image', content=webLogoURL)/
    link(rel='stylesheet', href='/css/style.min.css')/
    link(rel='stylesheet' href='/css/lib/toaster.min.css')/
    link(rel='stylesheet' href='/css/lib/select.min.css')/
    script(src='/js/lib/pace.min.js')
  block sub-layout
  .footer.col-xs-12.hidden-print
    .social.text-left.col-sm-6
      a.link.facebook(href=fbURL, target='_blank')
        span.fa.fa-facebook-square
      a.link.google-plus(href=gpURL, target='_blank')
        span.fa.fa-google-plus-square
      a.link.instagram(href=igURL, target='_blank')
        span.fa.fa-instagram
    .social.text-right.hidden-xs.col-sm-6
      ul
        li.footer-gd=webTitle
  script(src='/js/lib/jquery.min.js')
  script(src='/js/lib/bootstrap-bundle.min.js')
  script(src='/js/lib/angular-bundle.min.js')
  script(src='/js/lib/bluebird.min.js')
  script(src='/js/lib/select.min.js')
  script(src='/js/lib/ng-file-upload.min.js')
  script(src='/js/bundle.js')